name: continuous-integration

# syntax https://help.github.com/en/articles/workflow-syntax-for-github-actions
on:
  # Comment out scheduled runs for now
  # # Run at 2am every night.
  # schedule:
  #   - cron: '0 2 * * *'
  # pull_request:
  #   branches:
  #     - '*'
  # push:
  #   branches:
  #     - main
  #   tags:
  #     - '*'
  
  workflow_dispatch:
    inputs:
      build_windows:
        description: 'Build Windows wheels'
        required: false
        default: true
        type: boolean
      force_rebuild_cache:
        description: 'Force rebuild OpenSim cache'
        required: false
        default: false
        type: boolean        


jobs:
  windows:
    runs-on: windows-2025
    name: Windows

    outputs:
      version: ${{ steps.configure.outputs.version }}

    steps:
    - uses: actions/checkout@v4

    - name: Install Doxygen
      # choco install doxygen.portable # <-- too unreliable.
      run: |
        (New-Object System.Net.WebClient).DownloadFile("https://github.com/doxygen/doxygen/releases/download/Release_1_12_0/doxygen-1.12.0.windows.x64.bin.zip", "doxygen.zip")
        7z x $env:GITHUB_WORKSPACE/doxygen.zip -odoxygen
        echo "$env:GITHUB_WORKSPACE\\doxygen" >> $GITHUB_PATH

    - name: Install Python packages
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install numpy
      #Need numpy to use SWIG numpy typemaps.
      run: |
        python3 -m pip install numpy==2.0
        python3 -m pip install wheel
        python3 -m pip install build
        pip install --upgrade pip setuptools wheel
        pip install delvewheel

    - name: Install SWIG
      run: |
        choco install swig --version 4.1.1 --yes --limit-output --allow-downgrade
        swig -swiglib

    - name: Cache dependencies
      id: cache-dependencies
      uses: actions/cache@v3
      with:
        path: ~/opensim_dependencies_install
        # Every time a cache is created, it's stored with this key.
        # In subsequent runs, if the key matches the key of an existing cache,
        # then the cache is used. We chose for this key to depend on the
        # operating system and a hash of the hashes of all files in the
        # dependencies directory (non-recursive).
        # https://help.github.com/en/actions/automating-your-workflow-with-github-actions/caching-dependencies-to-speed-up-workflows#matching-a-cache-key
        key: ${{ runner.os }}-dependencies-${{ hashFiles('dependencies/*') }}

    - name: Build dependencies
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      run: |
        echo $env:GITHUB_WORKSPACE\\build_deps
        mkdir $env:GITHUB_WORKSPACE\\build_deps
        chdir $env:GITHUB_WORKSPACE\\build_deps
        # /W0 disables warnings.
        # https://msdn.microsoft.com/en-us/library/19z1t1wy.aspx
        # TODO: CMake provides /W3, which overrides our /W0
        cmake -E env CXXFLAGS="/W0 /MD" cmake $env:GITHUB_WORKSPACE/dependencies -LAH -G"Visual Studio 17 2022" -A x64 -DCMAKE_INSTALL_PREFIX=~/opensim_dependencies_install -DSUPERBUILD_ezc3d=ON -DOPENSIM_WITH_CASADI=ON -DOPENSIM_PYTHON_STANDALONE=ON
        cmake --build . --config Release -- /maxcpucount:4

    - name: Configure opensim-core
      id: configure
      run: |
        mkdir $env:GITHUB_WORKSPACE\\build
        chdir $env:GITHUB_WORKSPACE\\build
        # TODO: Can remove /WX when we use that in CMakeLists.txt.
        # Set the CXXFLAGS environment variable to turn warnings into errors.
        # Skip timing test section included by default.
        cmake -E env CXXFLAGS="/WX /MD -DSKIP_TIMING" cmake $env:GITHUB_WORKSPACE -LAH -G"Visual Studio 17 2022" -A x64 -DCMAKE_INSTALL_PREFIX=~/opensim-core-install -DOPENSIM_DEPENDENCIES_DIR=~/opensim_dependencies_install -DOPENSIM_C3D_PARSER=ezc3d -DOPENSIM_WITH_CASADI=on -DBUILD_PYTHON_WRAPPING=on -DBUILD_JAVA_WRAPPING=on -DBUILD_PYTHON_WHEELS=on -DPython3_ROOT_DIR=C:\hostedtoolcache\windows\Python\3.11.9\x64
        $env:match = cmake -L . | Select-String -Pattern OPENSIM_QUALIFIED_VERSION
        $version = $env:match.split('=')[1]
        echo $version
        echo "VERSION=$version" >> $GITHUB_ENV
        echo "version=$version" >> $env:GITHUB_OUTPUT

    - name: Build opensim-core
    # Install now to avoid building bindings twice (TODO: still an issue with Visual Studio 2022).
      run: |
        chdir $env:GITHUB_WORKSPACE\\build
        cmake --build . --config Release --target doxygen -- /maxcpucount:4
        cmake --build . --config Release --target install -- /maxcpucount:4

    - name: Test opensim-core
      run: |
        chdir $env:GITHUB_WORKSPACE\\build
        ctest --parallel 4 --output-on-failure --build-config Release -E Java_*

    - name: Install opensim-core
    # TODO: This is where we wish to do the installing, but it's done above for now.
      run: |
        chdir $env:GITHUB_WORKSPACE\\build
        chdir $env:GITHUB_WORKSPACE
        Copy-Item -Path "~/opensim-core-install" -Destination "opensim-core-${{ steps.configure.outputs.version }}" -Recurse
        7z a "opensim-core-${{ steps.configure.outputs.version }}.zip" "opensim-core-${{ steps.configure.outputs.version }}"

    - name: Build wheel
      run: |
        cd ~/opensim-core-install/sdk/python
        python3 setup.py bdist_wheel
    - name: Upload windows wheel
      uses: actions/upload-artifact@v4
      with:
        name: opensim-4.5.2-cp311-cp311-win_amd64.whl
        path: ~/opensim-core-install/sdk/python/dist/opensim-4.5.2-cp311-cp311-win_amd64.whl

    - name: Test Python bindings
      run: |
        cd ~/opensim-core-install/sdk/python
        pip install dist/opensim-4.5.2-cp311-cp311-win_amd64.whl
        # Run the python tests, verbosely.
        python3 -m unittest discover --start-directory opensim/tests --verbose

        - name: Upload opensim-core
        uses: actions/upload-artifact@v4
        with:
            name: opensim-core-${{ steps.configure.outputs.version }}-win
            path: opensim-core-${{ steps.configure.outputs.version }}.zip
